<div class="col">
    <div 
    class="card" style="width: 20rem;">
        <img [src]="product.imageUrl" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{ product.title }}</h5>
            <p class="card-text">{{ product.price | currency:'USD':true }}</p>
        </div>
        <div *ngIf="showActions && shoppingCart" class="card-footer">
            <button
                *ngIf="shoppingCart.getQuantity(product) === 0; else updateQuantity" 
                (click)="insertInCart()" class="btn btn-dark btn-block">Add to Cart</button>
            <ng-template #updateQuantity>
                <product-quantity [product]="product" [shopping-cart]="shoppingCart"></product-quantity>
            </ng-template>    
        </div>
    </div>
</div>