<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" routerLink="/">
      <i class="fa fa-leaf" aria-hidden="true"></i>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
       <li class="nav-item active">
          <a class="nav-link " routerLink="/shopping-cart">
            <i class="fa fa-shopping-cart" aria-hidden="true"></i> 
            <span 
            class="badge badge-warning badge-pill" 
            *ngIf="cart$ | async as cart"
            >{{ cart.totalItemCount }}</span></a>
       </li>
      </ul>
    </div>  
      <ul class="navbar-nav menu">
        <ng-template #anonymousUser>
         <li class="nav-item active">
           <a class="nav-link" routerLink="/login">Login <span class="sr-only">(current)</span></a>
         </li>
        </ng-template>
        <li *ngIf="appUser; else anonymousUser" ngbDropdown class="nav-item dropdown show">
           <a  
           ngbDropdownToggle 
           class="nav-link dropdown-toggle" 
           id="dropdown01" 
           data-toggle="dropdown" 
           aria-haspopup="true" aria-expanded="false">{{ appUser.name }}</a>
           <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">
             <a ngbDropdownItem class="dropdown-item" routerLink="/my-orders">My Orders</a>
             <ng-container *ngIf="appUser.isAdmin">
               <a ngbDropdownItem class="dropdown-item" routerLink="/admin/products">Manage Products</a>
               <a ngbDropdownItem class="dropdown-item" routerLink="/admin/orders">Manage Orders</a>
             </ng-container>
             <a ngbDropdownItem class="dropdown-item" (click)="logout()">Log Out</a>
           </div>
        </li>
       </ul>
    </div>
</nav>